<main>
    <div class="container">
        <h1>UNISCITI ALLA PARTITA</h1>
        <div class="data-container">
            <p>Inserisci il codice della partita</p>
            <form class="form" [formGroup]="form" (ngSubmit)="onSubmit()">
                <input type="text" class="input-code" formControlName="gameCode" placeholder="Es. 123456">
                <button type="submit" class="submit-button" [disabled]="form.invalid">Unisciti</button>
            </form> 
        </div>
    </div>
</main>
