.container{
    box-shadow: var(--shadow);
    margin: 0 auto; 
    width: 50vh; 
    background-color: #FFFFFF; 
    text-align: center; 
    height: 30vh; 
    min-width: 250px; 
    min-height: 150px; 
    display: flex; 
    flex-direction: column; 
    gap: 10px; 
    border-radius: var(--radious);
    padding: 2vh;
}

.button-container{
    display: flex; 
    flex-direction: column; 
    gap: 10px; 
    margin: 0 auto;
    height: 100%;
    width: 100%;
}

button{
    border-radius: var(--radious);
    transition: var(--transition-speed);
    border: none;
    box-shadow: var(--shadow);
    height: 8vh;
    font-family: var(--font);
    font-size: 3vh;
    cursor: pointer;
    color: black !important;
}

button:hover{
    background-color: var(--interazione-color);
}

.create-button{
    background-color: var(--create-button-color);
}

.join-button{
    background-color: var(--join-button-color);
}